<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>方便袋商城</title>
</head>
<body>
<div class="head">
    <div class="header">
        <a href="javascript:void(0)" onclick="history.go(-1)"></a>
        全民拼团 直接免单
    </div>
</div>
<div class="goods_info">
    <p>茅台不老养生酒尊享礼盒（2瓶）原价3960元 现在购买享受至尊优惠！<span>0元</span> 快来一起免单吧！</p>
</div>
<div class="main">
    <div class="list_box">
        <div class="title">
            <p><span class="all_person"></span>人正在拼单，可直接参与</p>
            <a href="javascript:void(0)" class="look_more">查看更多</a>
        </div>
        <div class="list1">
            <div class="wrapper">

            </div>
        </div>
    </div>
</div>
<a href="javascript:void(0)" class="free_charge">我要免单</a>
<img src="../static/images/index/main_bg_01.png" alt="">
<img src="../static/images/index/main_bg_02.png" alt="">
<img src="../static/images/index/main_bg_03.png" alt="">
<img src="../static/images/index/main_bg_04.png" alt="">
<img src="../static/images/index/main_bg_05.png" alt="">
<img src="../static/images/index/main_bg_06.png" alt="">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
</body>
</html>
