div{
  background-color: hotpink;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
}
body{
  img{
    margin: 0 auto;
    width: 500px;
  }
  .a{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background: url("../images/a.jpg") no-repeat center / cover;
    box-shadow: 0 0 0 #000;
    padding: 0;
    transform: translate(10px,10px);
  }
}